@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.section-hero {
    background-color: $background-main;
    padding-top: 142px;
    padding-bottom: 142px;
    color: $accent-color;

    &__wrapper {
        max-width: 540px;
    }

    &__title {
        @include clamp-font(28px, 6vw, 48px);
        margin-bottom: 60px;
        color: $black;
    }

    &__desc {
        color: $text;
        margin-bottom: 40px;
    }

    &__link {
        max-width: 225px;
        @include btn($accent-color, $background-main);

        &:hover {
            background-color: #2b3e63;
            transform: translateY(-3px);
        }

        @include down(sm) {
            max-width: 100%;
        }
    }
}